<div class="container">

    <mat-card *ngIf="errorMessage" class="error-card">
      <mat-card-content>
        {{ errorMessage }}
      </mat-card-content>
    </mat-card>
  
    <form (ngSubmit)="onUpdate()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="person.nome" name="nome" required />
        <mat-error *ngIf="!person.nome">Nome deve ser informado</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="person.email" name="email" required />
        <mat-error *ngIf="!person.email">Email deve ser informado</mat-error>
        <mat-error *ngIf="person.email && !isEmailValid(person.email)">Email Invalido</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="person.cpf" name="cpf" appCpfFormFormatter maxlength="14" required />
        <mat-error *ngIf="!person.cpf">CPF is required</mat-error>
        <mat-error *ngIf="person.cpf && !isCpfValid(person.cpf)">Cpf Invalido</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Data de nascimento</mat-label>
        <input matInput type="date" [(ngModel)]="person.dataNascimento" name="dataNascimento" required />
        <mat-error *ngIf="!person.dataNascimento">Data de nascimento deve ser informada</mat-error>
      </mat-form-field>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Editar</button>
      </div>
    </form>
  </div>
  