<mat-card class="card mat-elevation-z8"> 
 <mat-card-header>
    <mat-card-title> OnSafety - Client UI </mat-card-title>
    <mat-card-subtitle>Desenvolvido por: Jarmison Paiva </mat-card-subtitle>
 </mat-card-header>
<img mat-card-img src="assets/img/icon.svg" alt="image home epic money">
<mat-card-content>
    <p>
        Bem-vindo ao nosso Sistema de Gerenciamento de Pessoas!<br>
        Uma solução completa e eficiente para gerenciar todas as atividades relacionadas,
        ao capital humano.
      </p>
</mat-card-content>
</mat-card>