<div class="container">
    <!-- Card for error messages -->
    <mat-card *ngIf="errorMessage" class="error-card">
      <mat-card-content>
        {{ errorMessage }}
      </mat-card-content>
    </mat-card>
    <br>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="person.nome" name="nome" required />
        <mat-error *ngIf="nameError">{{ nameError }}</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="person.email" name="email" required />
        <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="person.cpf" name="cpf" appCpfFormFormatter maxlength="14" />
        <mat-error *ngIf="cpfError">{{ cpfError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput type="date" [(ngModel)]="person.dataNascimento" name="dataNascimento" required />
        <mat-error *ngIf="dateError">{{ dateError }}</mat-error>
      </mat-form-field>
    
      <div class="button-container">
        <button mat-raised-button color="secundary" type="submit">Enviar</button>
      </div>

    </form>
  </div>
  